#tfmExtended { position: absolute; top: 0; left: 50%; margin-left: 380px; z-index: 999; width: 45px; }
#tfmExtended .settings { position: relative; }
#tfmExtended .settings .gear { position: absolute; width: 45px; height: 45px; background: url('http://globalplaylist.com/images/gear-32x32.png') no-repeat center center #646464; }
/*#tfmExtended .preferences { width: 720px; margin-left: -760px; padding: 20px; background-color: #fff; min-height: 100px; position: relative; }*/
.tt-ext-preferences {width:320px;}
.tt-ext-preferences dl { text-align:left;}
.tt-ext-preferences dt { float: left; clear: both; margin-bottom: 10px; width: 210px; }
.tt-ext-preferences dd { float: right; clear: right; }
.tt-ext-preferences .flL { float: left; }
.tt-ext-preferences .clL { clear: left; }
.tt-ext-preferences .flR { float: right; }
.tt-ext-preferences .clB { clear: both; }
.tt-ext-pref-section {margin-top:20px;width:300px;clear:both;}
.tt-ext-pref-header {margin:10px auto;}
.tt-ext-pref-body {font-size:16px}

#tfmExtended .hidden { display: none; }
#tfmExtended .clL { clear: left; }
#tfmExtended .flL { float: left; }
#tfmExtended .flR { float: right; }
#tfmExtended .clB { clear: both; }
#tfmExtended .currentSongVotes { float: left; }
#tfmExtended .currentUserList { float: right; }
#tfmExtended #modifyAutoKick { cursor: pointer; color: blue; }
#tfmExtended .setEnableScrobbling { background-color: #D51007; color: #fff; }
#autoKickUserPrefs #addAutoKickUser { height: 20px; width: 200px; top: -5px; left: 10px; position: relative; }
#autoKickUserPrefs #addAutoKickUserButton { float: right; height: 20px; width: 20px; background-color: red; position: relative; left: 15px; cursor: pointer; }
#autoKickUserPrefs label { left: 5px; position: relative; }
#autoKickUserPrefs .marginfive { margin: 0 5px; }
#autoKickUserPrefs a { font-size: 16px }

#right-panel .matchesRecentlyPlayedExactly { background-color: #faa; }
#right-panel .matchesRecentlyPlayedArtist { background-color: #ffa; }
#right-panel .matchesRecentlyPlayedSongTitle { background-color: #ffd5aa; }
#right-panel .matchesRecentlyPlayedExactly.topSong { background-color: #FEE8AF; }

#tt-ext-mpd {display:none;}

#tt-ext-suggestions-link {display:none;margin-top:5px;font-size:14px;text-align:right;margin-right:3px;color:#2E9AEB;cursor:pointer;}
#tt-ext-suggestions-link.tt-ext-link-disabled {color:#555;cursor:default;}
#tt-ext-suggestions-box {display:none;background-color:white;width:400px;}

.tt-ext-suggested-songs {text-align:left;margin:15px auto 0 auto;text-shadow:none;}
.tt-ext-suggested-song {margin:0 auto; padding: 5px 5px; background-color:white;border-bottom:1px solid #E6E6E6;}

.tt-ext-suggested-song .title {font-size:15px;color:black;}
.tt-ext-suggested-song .artist {font-size:13px;color:gray;}

.tt-ext-suggested-song .tt-ext-search-link {color:#2E9AEB; font-size:12px;cursor:pointer;text-decoration:underline;float:right;padding:5px;}
.tt-ext-suggested-song div {clear:right;}
.tt-ext-suggested-song:nth-child(even), .tt-ext-room-users div:nth-child(even) {background-color:#F0F0F0;} 
.tt-ext-suggested-song:hover, .tt.ext-room-user:hover {background-color:#E3E3E3;}
.suggestionsOverlay {width:500px;}

.tagsOverlay {width:500px;}

.tt-ext-room-users {background-color:white;color:#333;text-align:left;margin:15px auto 0 auto;text-shadow:none;max-height: 550px;overflow-y:auto;}
.tt-ext-room-users > div {display:table;width:100%;}
.tt.ext-room-user {padding:5px 0px;display:table-row;}
.tt-ext-room-users a {color:#2E9AEB; padding:5px;display:table-cell;font-size:13px;text-align:right;}
.tt-ext-room-users a:nth-child(1) {font-size:16px;text-align:left;}

.tt-ext-welcome-message p {margin-top:15px}

.tag-container { width: 230px; }
.tag-list { padding: 5px; background-color: #ddd; height: 662px; width: 220px; overflow-y: auto; font-size: .8em; }
.tag-list .tag-active,
.tag-list .tag-inactive { cursor: pointer; }
.tag-list .tag-active { background-color: yellow; }

.tag-list .songs-expanded span { display: block; cursor: default; }
.tag-list .songs-expanded ul { margin-left: 10px; list-style-type: none; }
.tag-list .songs-expanded .title { font-weight: bold; }
.tag-list .songs-expanded li { padding-left: 20px; position: relative; }
.tag-list .move-top { position: absolute; top: 5px; left: 0; display: block; height: 18px; width: 18px; background: url('https://s3.amazonaws.com/static.turntable.fm/images/playlist/go-top.png') 0 -18px no-repeat; }
.tag-list .move-top:hover { background-position: 0 0; }

/* Tag Image from: http://gentleface.com/free_icon_set.html */
#playlist .song .tag { position: absolute; cursor: pointer; right: 5px; top: 16px; height: 16px; width: 16px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAALVWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNC4yLjItYzA2MyA1My4zNTI2MjQsIDIwMDgvMDcvMzAtMTg6MTI6MTggICAgICAgICI+CiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogIDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiCiAgICB4bWxuczpwaG90b3Nob3A9Imh0dHA6Ly9ucy5hZG9iZS5jb20vcGhvdG9zaG9wLzEuMC8iCiAgICB4bWxuczpJcHRjNHhtcENvcmU9Imh0dHA6Ly9pcHRjLm9yZy9zdGQvSXB0YzR4bXBDb3JlLzEuMC94bWxucy8iCiAgICB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iCiAgICB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIKICAgIHhtbG5zOnN0RXZ0PSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VFdmVudCMiCiAgICB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iCiAgICB4bWxuczp4bXBSaWdodHM9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9yaWdodHMvIgogICBwaG90b3Nob3A6QXV0aG9yc1Bvc2l0aW9uPSJBcnQgRGlyZWN0b3IiCiAgIHBob3Rvc2hvcDpDcmVkaXQ9Ind3dy5nZW50bGVmYWNlLmNvbSIKICAgcGhvdG9zaG9wOkRhdGVDcmVhdGVkPSIyMDEwLTAxLTAxIgogICBJcHRjNHhtcENvcmU6SW50ZWxsZWN0dWFsR2VucmU9InBpY3RvZ3JhbSIKICAgeG1wOk1ldGFkYXRhRGF0ZT0iMjAxMC0wMS0wM1QyMTozMzoxMyswMTowMCIKICAgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ4bXAuZGlkOjVEODZBMTNDODFGN0RFMTE5RUFCOTBENzA3OEFGOTRBIgogICB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjVEODZBMTNDODFGN0RFMTE5RUFCOTBENzA3OEFGOTRBIgogICB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjMyM0FDRjM2QTdGOERFMTE4MjFDRTRCMkM3RTM2RDcwIj4KICAgPElwdGM0eG1wQ29yZTpDcmVhdG9yQ29udGFjdEluZm8KICAgIElwdGM0eG1wQ29yZTpDaUFkckNpdHk9IlByYWd1ZSIKICAgIElwdGM0eG1wQ29yZTpDaUFkclBjb2RlPSIxNjAwMCIKICAgIElwdGM0eG1wQ29yZTpDaUFkckN0cnk9IkN6ZWNoIFJlcHVibGljIgogICAgSXB0YzR4bXBDb3JlOkNpRW1haWxXb3JrPSJrYUBnZW50bGVmYWNlLmNvbSIKICAgIElwdGM0eG1wQ29yZTpDaVVybFdvcms9Ind3dy5nZW50bGVmYWNlLmNvbSIvPgogICA8eG1wTU06SGlzdG9yeT4KICAgIDxyZGY6U2VxPgogICAgIDxyZGY6bGkKICAgICAgc3RFdnQ6YWN0aW9uPSJzYXZlZCIKICAgICAgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDo1RDg2QTEzQzgxRjdERTExOUVBQjkwRDcwNzhBRjk0QSIKICAgICAgc3RFdnQ6d2hlbj0iMjAxMC0wMS0wMlQxMDoyODo1MCswMTowMCIKICAgICAgc3RFdnQ6Y2hhbmdlZD0iL21ldGFkYXRhIi8+CiAgICAgPHJkZjpsaQogICAgICBzdEV2dDphY3Rpb249InNhdmVkIgogICAgICBzdEV2dDppbnN0YW5jZUlEPSJ4bXAuaWlkOjc5MzhGQjAwREJGN0RFMTFBOTAwODNFMEExMjUzQkZEIgogICAgICBzdEV2dDp3aGVuPSIyMDEwLTAxLTAyVDIxOjExOjI1KzAxOjAwIgogICAgICBzdEV2dDpjaGFuZ2VkPSIvbWV0YWRhdGEiLz4KICAgICA8cmRmOmxpCiAgICAgIHN0RXZ0OmFjdGlvbj0ic2F2ZWQiCiAgICAgIHN0RXZ0Omluc3RhbmNlSUQ9InhtcC5paWQ6MzIzQUNGMzZBN0Y4REUxMTgyMUNFNEIyQzdFMzZENzAiCiAgICAgIHN0RXZ0OndoZW49IjIwMTAtMDEtMDNUMjE6MzM6MTMrMDE6MDAiCiAgICAgIHN0RXZ0OmNoYW5nZWQ9Ii9tZXRhZGF0YSIvPgogICAgPC9yZGY6U2VxPgogICA8L3htcE1NOkhpc3Rvcnk+CiAgIDxkYzp0aXRsZT4KICAgIDxyZGY6QWx0PgogICAgIDxyZGY6bGkgeG1sOmxhbmc9IngtZGVmYXVsdCI+Z2VudGxlZmFjZS5jb20gZnJlZSBpY29uIHNldDwvcmRmOmxpPgogICAgPC9yZGY6QWx0PgogICA8L2RjOnRpdGxlPgogICA8ZGM6c3ViamVjdD4KICAgIDxyZGY6QmFnPgogICAgIDxyZGY6bGk+aWNvbjwvcmRmOmxpPgogICAgIDxyZGY6bGk+cGljdG9ncmFtPC9yZGY6bGk+CiAgICA8L3JkZjpCYWc+CiAgIDwvZGM6c3ViamVjdD4KICAgPGRjOmRlc2NyaXB0aW9uPgogICAgPHJkZjpBbHQ+CiAgICAgPHJkZjpsaSB4bWw6bGFuZz0ieC1kZWZhdWx0Ij5UaGlzIGlzIHRoZSBpY29uIGZyb20gR2VudGxlZmFjZS5jb20gZnJlZSBpY29ucyBzZXQuIDwvcmRmOmxpPgogICAgPC9yZGY6QWx0PgogICA8L2RjOmRlc2NyaXB0aW9uPgogICA8ZGM6Y3JlYXRvcj4KICAgIDxyZGY6U2VxPgogICAgIDxyZGY6bGk+QWxleGFuZGVyIEtpc2VsZXY8L3JkZjpsaT4KICAgIDwvcmRmOlNlcT4KICAgPC9kYzpjcmVhdG9yPgogICA8ZGM6cmlnaHRzPgogICAgPHJkZjpBbHQ+CiAgICAgPHJkZjpsaSB4bWw6bGFuZz0ieC1kZWZhdWx0Ij5DcmVhdGl2ZSBDb21tb25zIEF0dHJpYnV0aW9uIE5vbi1Db21tZXJjaWFsIE5vIERlcml2YXRpdmVzPC9yZGY6bGk+CiAgICA8L3JkZjpBbHQ+CiAgIDwvZGM6cmlnaHRzPgogICA8eG1wUmlnaHRzOlVzYWdlVGVybXM+CiAgICA8cmRmOkFsdD4KICAgICA8cmRmOmxpIHhtbDpsYW5nPSJ4LWRlZmF1bHQiPkNyZWF0aXZlIENvbW1vbnMgQXR0cmlidXRpb24gTm9uLUNvbW1lcmNpYWwgTm8gRGVyaXZhdGl2ZXM8L3JkZjpsaT4KICAgIDwvcmRmOkFsdD4KICAgPC94bXBSaWdodHM6VXNhZ2VUZXJtcz4KICA8L3JkZjpEZXNjcmlwdGlvbj4KIDwvcmRmOlJERj4KPC94OnhtcG1ldGE+Cjw/eHBhY2tldCBlbmQ9InIiPz7hC0nOAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARdJREFUeNqkkkFqhDAUho2igogZwYUbwYUgCILeoN3NMcYb9Eb1CD2CN1C3glBvoLhwpel7wRmc4ozNNPDn5SXmM/9LJOmfjWCXpmkJIdn7gDGWQ/ioqmrYW5exm+c5AUnLshQQexxfBXMXnI/jmD4DoL7run6H+LUFrMIfFFEU0V0LYRiyNS9WK6cHliuw9NY0zXAHCIKACdSNQ9q2HW4A3/eZYPE5pOu6gQM8z2Mv3CCHKDgyTdOHJAFJAnLhds78BK7rUryqR2/h8CFhcxyHAlUUkpNtZtv2n09CCMn7vs/I7wXLsg4huHkcx+zOwrYZhvHMTj5NU3ZoTtd1qqpqCWJXaZr2KVRhRVGoLMsliIF2N/8IMACjBbxnaqKF/gAAAABJRU5ErkJggg=='); }
#playlist .song .no-tags { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAR9JREFUeNqkUl0KgkAQzuh9810wEBQEwSPYDTpC3qDT+LxH6AZ5g9Yb9OiD4B8oij/NLClmmxUNfDs6rt988yP1fb/6xzZ4eJ53BWeLLkACCu7EGEtF39d4tG1rA1Zd1/ngE3weALEjxi3LIksEiFsQBHvw5ynBA5jAN02TCAmapkHsDMO4gD883p8wkOi6Tt4pQDiArUDBqATL0TSNiBR8C65EVVUyTgHZfzScmK8oijMQ4KiOv5LAiH1OAHWdAPa7XVgi4T0IwzAFAmwgW2igCHQzUEVRlMqy7GCXv1EiSRJNksRdT4NxHKdQ10clkIT/PI5xalmWfSqH5nnuPu3B3Iqi4CQwczbbRlqWpfuyiSKrqmquhNZ17c7v3QUYAPXTfe0LGKkPAAAAAElFTkSuQmCC'); }
#playlist .song.inactive { display: none; }

.tt-ext-song-tags {margin:0 auto; padding: 5px 5px; background-color:white;border-bottom:1px solid #E6E6E6;}
.tt-ext-song-tags span { color:#333; text-align: left; text-shadow: none;}

.text-link { color: #2E9AEB; cursor: pointer; }