#tfmExtended { position: absolute; top: 0; left: 50%; margin-left: 380px; z-index: 999; width: 45px; }
#tfmExtended .settings { position: relative; }
#tfmExtended .settings .gear { position: absolute; width: 45px; height: 45px; background: url('http://globalplaylist.com/images/gear-32x32.png') no-repeat center center #646464; }
#tfmExtended .preferences { width: 720px; margin-left: -760px; padding: 20px; background-color: #fff; min-height: 100px; position: relative; }
#tfmExtended .preferences dl { width: 225px; }
#tfmExtended .preferences dt { float: left; clear: both; margin-bottom: 10px; width: 210px; }
#tfmExtended .preferences dd { float: right; clear: right; }
#tfmExtended .hidden { display: none; }
#tfmExtended .clL { clear: left; }
#tfmExtended .flL { float: left; }
#tfmExtended .flR { float: right; }
#tfmExtended .clB { clear: both; }
#tfmExtended .currentSongVotes { float: left; }
#tfmExtended .currentUserList { float: right; }
#tfmExtended #modifyAutoKick { cursor: pointer; color: blue; }
#tfmExtended .setEnableScrobbling { background-color: #D51007; color: #fff; }
#autoKickUserPrefs #addAutoKickUser { height: 20px; width: 200px; top: -5px; left: 10px; position: relative; }
#autoKickUserPrefs #addAutoKickUserButton { float: right; height: 20px; width: 20px; background-color: red; position: relative; left: 15px; cursor: pointer; }
#autoKickUserPrefs label { left: 5px; position: relative; }
#autoKickUserPrefs .marginfive { margin: 0 5px; }
#autoKickUserPrefs a { font-size: 16px }

#right-panel .matchesRecentlyPlayedExactly { background-color: #faa; }
#right-panel .matchesRecentlyPlayedArtist { background-color: #ffa; }
#right-panel .matchesRecentlyPlayedSongTitle { background-color: #ffd5aa; }
#right-panel .matchesRecentlyPlayedExactly.topSong { background-color: #FEE8AF; }

#tt-ext-mpd {display:none;}

#tt-ext-suggestions-link {display:none;margin-top:5px;font-size:14px;text-align:right;margin-right:3px;color:#2E9AEB;cursor:pointer;}
#tt-ext-suggestions-link.tt-ext-link-disabled {color:gray;cursor:default;}
#tt-ext-suggestions-box {display:none;background-color:white;width:400px;}

.tt-ext-suggested-songs {text-align:left;margin:15px auto 0 auto;text-shadow:none;}
.tt-ext-suggested-song {margin:0 auto; padding: 5px 5px; background-color:white;border-bottom:1px solid #E6E6E6;}

.tt-ext-suggested-song .title {font-size:15px;color:black;}
.tt-ext-suggested-song .artist {font-size:13px;color:gray;}

.tt-ext-suggested-song .tt-ext-search-link {color:#2E9AEB; font-size:12px;cursor:pointer;text-decoration:underline;float:right;padding:5px;}
.tt-ext-suggested-song div {clear:right;}
.tt-ext-suggested-song:nth-child(even) {background-color:#F0F0F0;} 
.tt-ext-suggested-song:hover {background-color:#E3E3E3;}
.suggestionsOverlay {width:500px;}

// link color:  (orange)